body {
    background-image: url('../images/loginbg-img.png');
    font-size: 1.6rem; 
    font-family: "Open Sans", sans-serif;
    color: #fff;
    background-color: #000;
    background-size: cover;
    background-position: center;
  }
  h2 {
    font-weight: 300;
    text-align: center;
  }
  p {
    position: relative;
  }
 

  #login-form-wrap {

    width: 16em;
    margin-right: 30px auto;
    text-align: center;
    padding: 20px 0 0 0;
    border-radius: 38px;
  }
  #login-form {
    padding: 0 60px;
  }
  input {
    display: block;
    border-radius: 38px;
    width: 100%;
    outline: none;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
  }
  #email,
  #password {
    border: none;
    display: block;
    
    color: white; 
    cursor: pointer;
    font-size: 18px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center; 
    border-radius: 38px;
    background-color: transparent;
    border: 2px solid #ff9100;
  }
 
input[type="submit"] {
    border: none;
    display: block;
    background-color: #FFCD2D;
    color: #000; 
    cursor: pointer;
    font-size: 18px;
    position: relative;
    cursor: pointer;
    text-align: center; 
    border-radius: 38px;
  }
.validation{
    border-radius: 38px;
}
.copyright{
    position: absolute;
    width: 100%;
    text-align: right;
    padding: 140px 0px;
    font-weight: 100;
    right: 15px;
    color: #DCDCDC;
}